mixin selectBox(one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve)
    select.select--component&attributes(attributes)
        if one 
            option= one 
        if two 
            option= two
        if three 
            option= three
        if four 
            option= four
        if five 
            option= five
        if six 
            option= six 
        if seven 
            option= seven
        if eight 
            option= eight
        if nine 
            option= nine
        if ten 
            option= ten
        if eleven 
            option= eleven
        if twelve 
            option= twelve