-
    var menus = [
        {
            name: '소개',
            path: '',
        }, 
        {
            name: '참고자료',
            path: 'resources',
        }, 
        {
            name: '참여',
            path: 'participate',
        }, 
        {
            name: '멤버십',
            path: 'members'
        }, 
        {
            name: '포럼',
            path: ''
        }, 
        {
            name: '거버넌스',
            path: ''
        }, 
        {
            name: '뉴스', 
            path: 'news',
        },
        {
            name: '문의/연락처',
            path: 'contact'
        }
    ]
- var resources = ['TON 블록체인', '커뮤니티', '백서 / 프라이머', '생태계']
- var participate = ['그램', '노드 / 스테이킹']
- var news = ['미디어', '업데이트']
footer
    figure.logo
        img(src="/assets/images/logos/ton-horizontal-w.svg", alt="Logo")
    ul.site-map
        each m in menus
            if m.name == menus[0].name
                li
                    p
                        a(href=`/index.html`)= m.name
            else if m.name == '토론'
                li
                    p
                        a(href=`https://forum.tonkorea.org` target="_blank" rel="noreferrer noopener")= m.name
            else if m.name == '거버넌스'
                li
                    p
                        a(href=`https://korea.gov.freeton.org` target="_blank" rel="noreferrer noopener")= m.name
            else
                li
                    p
                        a(href=`/html/${m.path}.html`)= m.name
                    if m.name == menus[1].name
                        each sub in resources
                            p
                                a(href="")= sub
                    if m.name == menus[2].name
                        each sub in participate
                            p
                                a(href="")= sub
                    if m.name == menus[5].name
                        each sub in news
                            p
                                a(href="")= sub
    .rest
        .clause-and-admin
            a(href="/html/clause.html") 개인정보처리방침
            a(href="/html/admin/board.html")
                figure
                    img(src="/assets/images/symbols/admin.svg", alt="")
        p.copy-right Copyright © Ton Korea. All rights Reserved.