include ../components/telegramLogin
include ../components/languageSelect

-
    var menus = [
        {
            name: '소개',
            path: ''
        }, 
        {
            name: '참고자료',
            path: 'resources'
        }, 
        {
            name: '참여',
            path: 'participate'
        }, 
        {
            name: '멤버십',
            path: 'members'
        }, 
        {
            name: '토론',
            path: 'forum'
        }, 
        {
            name: '커뮤니티',
            path: 'community'
        }, 
        {
            name: '뉴스', 
            path: 'news'
        },
        {
            name: '문의/연락처',
            path: 'question'
        }
    ]
header
    .wrapper
        figure
            a(href="/index.html")
                img(src="/assets/images/logos/ton-symbol.svg" alt="Logo")
        .box
            +telegramLogin()
            +languageSelect()
            nav.desktop
                // 해당 페이지 li 태그에 active 클래스 추가
                ul
                    each m in menus
                        if m.name == menus[0].name
                            li(class=`active`)
                                a(href="/index.html")= m.name
                        else if m.name == '토론'
                            li
                                a(href=`https://forum.tonkorea.org` target="_blank" rel="noreferrer noopener")= m.name
                        else
                            li
                                a(href=`/html/${m.path}.html`)= m.name
            .hamburger
                div
                div
                div
            .mobile-nav-back
            .mobile-nav
                div.close
                // 해당 페이지 li 태그에 active 클래스 추가
                ul
                    each m in menus
                        if m.name == menus[0].name
                            li(class=`active`)
                                a(href=`/index.html`)= m.name
                        else if m.name == '토론'
                            li
                                a(href=`https://forum.tonkorea.org` target="_blank" rel="noreferrer noopener")= m.name
                        else
                            li
                                a(href=`/html/${m.path}.html`)= m.name